node.name: "2sec-logstash-node"

# 운영 기본 로그 레벨
log.level: info
log.format: json

# 안전한 종료 (ECS SIGTERM 대응)
pipeline.unsafe_shutdown: false

# ECS 필드 자동 주입 방지
#ecs_compatibility: disabled

# DLQ 비활성 (Kinesis 재처리 전제)
dead_letter_queue.enable: false
