- pipeline.id: "main"
  path.config: "/usr/share/logstash/pipeline/logstash.config"

  # 안정성 우선
  pipeline.workers: 1

  # 배치 튜닝 (ECS 기준)
  pipeline.batch.size: 50
  pipeline.batch.delay: 25

  # 메모리 큐 (Kinesis 재처리 전제)
  queue.type: memory
  queue.max_events: 200
  queue.max_bytes: 50mb
  queue.checkpoint.writes: 1

  # ECS 메타데이터 비활성
  #pipeline.ecs_compatibility: disabled